In [1]:
%logstop
%logstart -rtq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

Logging hadn't been started.

/Users/michaelnana/opt/anaconda3/lib/python3.7/site-packages/IPython/core/magics/logging.py:130: UserWarning: Couldn't start log: [Errno 2] No such file or directory: '/Users/michaelnana/.logs/dw.py'
  warn("Couldn't start log: %s" % sys.exc_info()[1])

In [2]:
from static_grader import grader

ImportError: cannot import name 'grader' from 'static_grader' (/Users/michaelnana/opt/anaconda3/lib/python3.7/site-packages/static_grader/__init__.py)

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [3]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: dw-data: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [4]:
import pandas as pd
import numpy as np
import gzip

In [5]:
# load the 2017 data
scripts = pd.read_csv('./dw-data/201701scripts_sample.csv.gz', compression='gzip', header=0, sep=',', error_bad_lines=False)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

##### Alternatively solution

In [6]:
#LOADING SCRIPTS DATA
with gzip.open('./dw-data/201701scripts_sample.csv.gz', 'rb') as f:
     scripts = pd.read_csv(f)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [7]:
#LOADING PRACTICES DATA   
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('./dw-data/practices.csv.gz', compression = 'gzip', header = 0, sep=',', error_bad_lines=False)
practices.head()

,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
0,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ
4,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

##### Alternatively solution

In [8]:
#LOADING PRACTICES DATA    
col_names=[ 'code','name','addr_1','addr_2','borough', 'village','post_code']
with gzip.open('./dw-data/practices.csv.gz', 'rb') as g:
    practices = pd.read_csv(g,header=None,names=col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [9]:
chem = pd.read_csv('./dw-data/chem.csv.gz', compression ='gzip', header =0, sep =',', error_bad_lines=False)
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

##### Alternatively solution

In [10]:
#LOADING CHEM DATA   
with gzip.open('./dw-data/chem.csv.gz', 'rb') as h:
    chem =pd.read_csv(h)
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [11]:
def summary_statistic(data, field):
    total = data[field].sum()
    mean = data[field].mean()
    std = data[field].std()
    q25 = data[field].quantile(0.25)
    median = data[field].median()
    q75 = data[field].quantile(0.75)
    return(field,(total, mean, std, q25, median, q75))

In [12]:
items = ['items', 'quantity', 'nic','act_cost']
summary_stats = [summary_statistic(scripts, item) for item in items]

In [13]:
grader.score.dw__summary_statistics(summary_stats)

NameError: name 'grader' is not defined

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [14]:
scripts_bnf_name = scripts.groupby('bnf_name')
scripts_groupby_bnf_name = scripts_bnf_name.sum()
most_common_item = [(scripts_groupby_bnf_name['items'].idxmax(), scripts_groupby_bnf_name['items'].max())]

In [15]:
grader.score.dw__most_common_item(most_common_item)

NameError: name 'grader' is not defined

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [16]:
#REMOVING DUPLICATES FROM PRACTICES TABLE AND ORDER IT ALPHABETICALLY ASCENDING 
ordered_practices=practices.sort_values(["code","post_code"])
ordered_practices.set_index("code", inplace=True)
ordered_practices = ordered_practices[~ordered_practices.index.duplicated(keep='first')]
ordered_practices.head()

,name,addr_1,addr_2,borough,village,post_code
code,,,,,,
A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
A81003,VICTORIA MEDICAL PRACTICE,MCKENZIE HOUSE,17 KENDAL ROAD,HARTLEPOOL,CLEVELAND,TS25 1QU
A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [17]:
#MAKING NAME OF THE "practice" COLUMN IN THE SCRIPTS TABLE AS "code" TO BE ABLE TO MERGE 
scolumns=scripts.columns.tolist()
scolumns[0]="code"
scripts.columns=scolumns
scripts.head()

,code,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

##### Alternatively solution

In [18]:
#MAKING NAME OF THE "practice" COLUMN IN THE SCRIPTS TABLE AS "code" TO BE ABLE TO MERGE 
scripts.rename(columns={'practice': 'code'}, inplace =True) 
scripts.head()

,code,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [19]:
#MERGING ORDERED PRACTICES AND SCRIPTS TABLE
merged_df = scripts.merge(ordered_practices, on=["code"])
merged_df.head()

,code,bnf_code,bnf_name,items,nic,act_cost,quantity,name,addr_1,addr_2,borough,village,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF

##### Alternatively solution

In [20]:
merged_df = pd.merge(scripts, ordered_practices, on = 'code')
merged_df.head()

,code,bnf_code,bnf_name,items,nic,act_cost,quantity,name,addr_1,addr_2,borough,village,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF

In [21]:
#SIMPLIFYING MERGED DATAFRAME
ordered_df=merged_df[["code","bnf_code","bnf_name","items","post_code"]].sort_values(["code","post_code"])
ordered_df.head()

         code   bnf_code                             bnf_name  items post_code
74971  A81005  0101010G0      Maalox_Susp 195mg/220mg/5ml S/F      1  TS14 7DJ
74972  A81005  0101010G0     Mucogel_Susp 195mg/220mg/5ml S/F      1  TS14 7DJ
74973  A81005  0101010L0                 Maalox Plus_Susp S/F      1  TS14 7DJ
74974  A81005  0101021B0  Alginate_Raft-Forming Oral Susp S/F      6  TS14 7DJ
74975  A81005  0101021B0        Sod Algin/Pot Bicarb_Susp S/F      6  TS14 7DJ

In [22]:
# Group by postal code and bnf name and calculate sum of items
merged_groupby_df = ordered_df.groupby(['post_code','bnf_name']).agg({'items': 'sum'})
merged_groupby_df.reset_index(inplace=True)
merged_groupby_df.sort_values(["post_code", "items"], ascending = [True,False], inplace = True)
merged_groupby_df.set_index("post_code", inplace = True)
merged_groupby_df = merged_groupby_df[~merged_groupby_df.index.duplicated(keep='first')]
merged_groupby_df.reset_index(inplace = True)
merged_groupby_df.head()

  post_code                            bnf_name  items
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF    706
1   B12 9LP                   Paracet_Tab 500mg    425
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF    556
3   B21 9RY             Metformin HCl_Tab 500mg   1033
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)    599

In [23]:
# Calculate total items for each postal code
total_item_post = ordered_df.groupby('post_code').agg({'items': 'sum'})
total_item_post.head()

           items
post_code
B11 4BW    22731
B12 9LP    17073
B18 7AL    20508
B21 9RY    31027
B23 6DJ    28011

In [24]:
# Combining with totals and calculating the percentage and output as list of tuples
group = pd.merge(merged_groupby_df, total_item_post, on = "post_code")
group["perc"] = group["items_x"]/group["items_y"]
group = group[["post_code", "bnf_name", "perc"]]
group.set_index("post_code", inplace = True)
items_by_region =list(group.itertuples(name = None))[:100]

In [25]:
grader.score.dw__items_by_region(items_by_region)

NameError: name 'grader' is not defined

#### Alternative solution

In [26]:
srt = practices.sort_values('post_code').drop_duplicates('code', keep='first')
srt.head()

,code,name,addr_1,addr_2,borough,village,post_code
1896,E82060,PARKBURY HOUSE SURGERY,PARKBURY HOUSE,ST.PETERS STREET,ST.ALBANS,HERTFORDSHIRE,AL1 3HD
1871,E82031,MALTINGS SURGERY,THE MALTINGS SURGERY,8-14 VICTORIA STREET,ST ALBANS,HERTFORDSHIRE,AL1 3JB
1849,E82004,HATFIELD ROAD SURGERY,61 HATFIELD ROAD,NaN,ST.ALBANS,HERTFORDSHIRE,AL1 4JE
1848,E82002,WRAFTON HOUSE SURGERY,WRAFTON HOUSE SURGERY,9/11 WELLFIELD ROAD,HATFIELD,HERTFORDSHIRE,AL10 0BS
9812,Y05146,HCT LYMPHOEDEMA AT WEST ESSEX CCG,QUEENSWAY HEALTH CENTRE,QUEENSWAY,HATFIELD,HERTFORDSHIRE,AL10 0LF

In [28]:
merged = scripts.merge(srt, left_on='code', right_on='code')
merged.head()

,code,bnf_code,bnf_name,items,nic,act_cost,quantity,name,addr_1,addr_2,borough,village,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF

In [29]:
total_items_by_postcode = merged.groupby(['post_code','bnf_name'])[['items']].sum()
total_items_by_postcode.head()

                                                    items
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C      7
          3m Health Care_Cavilon No Sting Barrier       2
          Abasaglar KwikPen_100u/ml 3ml Pf Pen          2
          Abidec_Dps                                   63
          Able Spacer + Sml/Med Mask                    1

In [30]:
total_items_by_postcode.reset_index(inplace=True)
total_items_by_postcode.head()

  post_code                                  bnf_name  items
0   B11 4BW  3m Health Care_Cavilon Durable Barrier C      7
1   B11 4BW   3m Health Care_Cavilon No Sting Barrier      2
2   B11 4BW      Abasaglar KwikPen_100u/ml 3ml Pf Pen      2
3   B11 4BW                                Abidec_Dps     63
4   B11 4BW                Able Spacer + Sml/Med Mask      1

In [31]:
total_items_max = total_items_by_postcode.groupby('post_code')[['items']].max()
total_items_max.head()

           items
post_code
B11 4BW      706
B12 9LP      425
B18 7AL      556
B21 9RY     1033
B23 6DJ      599

In [32]:
total_items_max.reset_index(inplace=True)
total_items_max.head()

  post_code  items
0   B11 4BW    706
1   B12 9LP    425
2   B18 7AL    556
3   B21 9RY   1033
4   B23 6DJ    599

In [33]:
total_items = total_items_max.merge(total_items_by_postcode, on=['post_code','items'], how = 'left')
total_items.head()

  post_code  items                            bnf_name
0   B11 4BW    706  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    425                   Paracet_Tab 500mg
2   B18 7AL    556  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY   1033             Metformin HCl_Tab 500mg
4   B23 6DJ    599    Lansoprazole_Cap 30mg (E/C Gran)

In [34]:
total_items_sorted = total_items.sort_values('bnf_name').drop_duplicates(['post_code','items'], keep='first')
total_items_sorted.head()

    post_code  items             bnf_name
73    E15 4ES    451  Amlodipine_Tab 10mg
66   DN16 2AB   1072   Amlodipine_Tab 5mg
255   WS9 8AJ    396   Amlodipine_Tab 5mg
142   NG2 7SD    605   Amlodipine_Tab 5mg
97   KT16 8HZ    401   Amlodipine_Tab 5mg

In [35]:
total_items_sorted.sort_values('post_code', inplace=True)
total_items_sorted.head()

  post_code  items                            bnf_name
0   B11 4BW    706  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    425                   Paracet_Tab 500mg
2   B18 7AL    556  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY   1033             Metformin HCl_Tab 500mg
4   B23 6DJ    599    Lansoprazole_Cap 30mg (E/C Gran)

In [36]:
total_items_sorted.shape

(259, 3)

In [37]:
s = total_items_by_postcode.groupby('post_code')[['items']].sum().reset_index()
s.head()

  post_code  items
0   B11 4BW  22731
1   B12 9LP  17073
2   B18 7AL  20508
3   B21 9RY  31027
4   B23 6DJ  28011

In [38]:
s.shape

(259, 2)

In [39]:
final_df = s.merge(total_items_sorted, on='post_code')
final_df.head()

  post_code  items_x  items_y                            bnf_name
0   B11 4BW    22731      706  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    17073      425                   Paracet_Tab 500mg
2   B18 7AL    20508      556  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY    31027     1033             Metformin HCl_Tab 500mg
4   B23 6DJ    28011      599    Lansoprazole_Cap 30mg (E/C Gran)

In [40]:
final_df['amt%'] = final_df['items_y'].astype(float)/final_df['items_x'].astype(float)
final_df['amt%'].head()

0    0.031059
1    0.024893
2    0.027111
3    0.033294
4    0.021384
Name: amt%, dtype: float64

In [41]:
result = final_df[['post_code','bnf_name','amt%']]
result.head()

  post_code                            bnf_name      amt%
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF  0.031059
1   B12 9LP                   Paracet_Tab 500mg  0.024893
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF  0.027111
3   B21 9RY             Metformin HCl_Tab 500mg  0.033294
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)  0.021384

In [47]:
result = result.head(100)
values = result.get_values().tolist()

/Users/michaelnana/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.values' or 'np.asarray(..)' instead.

In [48]:
final=[]

for item in values:
    final.append(tuple(item))

In [49]:
def items_by_region():
    return final

In [50]:
def items_by_region():
    [('AL1 3HD', u'Amoxicillin_Cap 500mg', 0.1026344676180022)] * 100

In [51]:
grader.score('dw__items_by_region', items_by_region)

NameError: name 'grader' is not defined

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [52]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

In [53]:
opioids_join = '|'.join(opioids)
opioids_join

'morphine|oxycodone|methadone|fentanyl|pethidine|buprenorphine|propoxyphene|codeine'

In [55]:
chem = pd.read_csv("dw-data/chem.csv.gz")

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [56]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine'] 
mask= chem.NAME.str.contains('|'.join(opioids), case=False)

opioid_codes = chem[mask]['CHEM SUB']

scripts['opioids'] = scripts['bnf_code'].isin(opioid_codes).astype(int)

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [1]:
opioids_per_practice = scripts.groupby('code')['opioids'].mean()
opioids_per_practice

NameError: name 'scripts' is not defined

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [59]:
relative_opioids_per_practice = opioids_per_practice-scripts['opioids'].mean()

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [61]:
standard_error_per_practice = np.sqrt(scripts['opioids'].var()/scripts['code'].value_counts())

opioid_scores = relative_opioids_per_practice / standard_error_per_practice

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [63]:
unique_practices = (practices.sort_values(['code', 'name']).drop_duplicates( subset=['code'], keep='first'))[['code','name']]

results = unique_practices.merge(opioid_scores.rename('score'), left_on='code', right_index=True)

results = results.merge(scripts['code'].value_counts().rename('count'), left_on='code', right_index=True)

results.sort_values(by='score', ascending=False, inplace=True)

results.drop('code', axis=1, inplace=True)

anomalies = list(results.itertuples(index=False, name=None))[:100]

In [64]:
results.head()

                                 name      score  count
7954        NATIONAL ENHANCED SERVICE  11.695818      7
8456         OUTREACH SERVICE NH / RH   7.339043      2
8783  BRISDOC HEALTHCARE SERVICES OOH   6.150582     60
7454           H&R P C SPECIAL SCHEME   5.123032     36
9718                   HMR BARDOC OOH   4.958866    321

In [65]:
anomalies

[('NATIONAL ENHANCED SERVICE', 11.69581786285154, 7),
 ('OUTREACH SERVICE NH / RH', 7.339043019185809, 2),
 ('BRISDOC HEALTHCARE SERVICES OOH', 6.150581749039399, 60),
 ('H&R P C SPECIAL SCHEME', 5.1230324139960715, 36),
 ('HMR BARDOC OOH', 4.958866438451784, 321),
 ('INTEGRATED CARE 24 LTD (CWSX OOH)', 4.888878160447507, 426),
 ('DARWEN HEALTHCARE', 4.839158968601383, 1917),
 ('THE LIMES MEDICAL PRACTICE', 4.54684187230158, 1321),
 ('IC24 LTD (BRIGHTON & HOVE OOH)', 4.335047010573882, 357),
 ('OLDHAM 7 DAY ACCESS HUB2 OOH', 4.311784036579042, 56),
 ('IC24 LTD (NORFOLK & WISBECH OOH)', 4.2575005924420095, 489),
 ('ROSSENDALE MIU & OOH', 4.256827446291742, 18),
 ('BURY WALK-IN CENTRE', 4.150589122851554, 138),
 ('IC24 LTD (HORSHAM & MID SUSSEX OOH)', 3.781620703817035, 215),
 ('LCW HOUNSLOW CCG OOH', 3.5828485461803874, 69),
 ('WEEKEND WORKING EASINGTON NORTH', 3.565938771104005, 278),
 ('COMPASS ENFIELD', 3.558720265081086, 7),
 ('BASSETLAW DRUG & ALCOHOL SERVICE', 3.533264102486019, 2),
 ('THE PARK SURGERY', 3.5111147363638393, 969),
 ('CHAPEL STREET SURGERY', 3.4907459502455285, 1504),
 ('BEECHWOOD MEDICAL PRACTICE', 3.4747953064087973, 1552),
 ('BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 3.454423428502444, 46),
 ('CARDEN SURGERY', 3.4503113243163948, 1375),
 ('GP IN A&E (WIC)', 3.395917748614078, 87),
 ('NORTHAMPTONSHIRE OOH SERVICE', 3.393559278047936, 382),
 ('WORDEN MEDICAL CENTRE', 3.3413283443601087, 1898),
 ('BRISDOC HEALTHCARE SERVICES OOH', 3.3336438396324324, 566),
 ('BURY OOH', 3.3215295599463537, 292),
 ('IC24 SOUTHEND/CP&R CCG OOH', 3.221115319923132, 336),
 ('IC24 LTD (CRAWLEY OOH)', 3.194264097597211, 173),
 ('EASTBOURNE  HAILSHAM & SEAFORD OOH', 2.989692533493854, 255),
 ('THE ROSEBERRY PRACTICE', 2.980358948635496, 1450),
 ('SHAFTESBURY MEDICAL CTR.', 2.9045930039143015, 2126),
 ('THE RICHMOND HILL PRACTICE', 2.8601891978376637, 1729),
 ('DGS OOH (INTEGRATED CARE 24 LTD)', 2.795651191053984, 325),
 ('THE LAKESIDE PRACTICE', 2.7801243484066327, 1554),
 ('DEWSBURY MSK SERVICE', 2.773644352165656, 3),
 ('BRISDOC HEALTHCARE SERVICES OOH', 2.7220204978439746, 74),
 ('HALLIWELL SURGERY 1', 2.690231255327035, 1124),
 ('THE ROYTON & CROMPTON FAMILY PRACTICE', 2.6674099502677935, 2054),
 ('PRACTICE 3  MEDICAL CENTRE  BRIDLINGTON', 2.6526642039661223, 1936),
 ('LCWUCC - IUC NCL', 2.59279324200271, 443),
 ('DR MOKASHI', 2.4968876890379015, 1341),
 ('THE CREST FAMILY PRACTICE', 2.4943584425308103, 1294),
 ('PERKINS PRACTICE', 2.4795713428692228, 899),
 ('DARLASTON HEALTH CENTRE', 2.4456345065665985, 996),
 ("DR MA SIMS' PRACTICE", 2.4372766106280044, 1857),
 ('1/LOWER BROUGHTON MEDICAL PRACTICE', 2.4356367534966785, 1044),
 ('CORNWALLIS PLAZA SURGERY', 2.4242024620381173, 2326),
 ('FAIRMORE MEDICAL PRACTICE', 2.3824085989538406, 1288),
 ('LAWLEY MEDICAL PRACTICE', 2.37357797306176, 1409),
 ("PEEL GP'S", 2.3535943384761526, 1557),
 ('EASTLANDS MEDICAL CENTRE', 2.325396683257408, 1369),
 ('MAGHULL HEALTH CENTRE (DR SAPRE)', 2.319407409420755, 1322),
 ('INTEGRATED CARE 24 LIMITED OOH', 2.310649761537203, 511),
 ('WILLOW BANK SURGERY', 2.2956421320213316, 1934),
 ('IC24 LTD (HWLH OOH)', 2.294900433875935, 216),
 ('CHADWICK PRACTICE', 2.2917945205531756, 1568),
 ('C&WPT OOH SERVICE', 2.2708524012573834, 341),
 ('THE MERRYWOOD PRACTICE', 2.270550955623257, 1234),
 ('LEYLAND SURGERY', 2.251774286523671, 1213),
 ('WALKDEN MEDICAL PRACTICE', 2.241573614054507, 1577),
 ('RADCLIFFE MEDICAL PRACTICE', 2.2396070334433533, 1553),
 ('RIBBLESDALE GP-DR SUBBIAH', 2.20974589124552, 1100),
 ('THE MAZHARI & KHAN PRACTICE', 2.2006627122485924, 912),
 ('JAMES ALEXANDER FAMILY PRACTICE', 2.196702590889734, 1634),
 ('B&H INTERMEDIATE CARE SERVICE', 2.1862131918109617, 456),
 ('HARDEN SURGERY', 2.1554958162693887, 1228),
 ('THE GATEWAY MEDICAL PRACTICE', 2.154423496529808, 1349),
 ('QUAYSIDE MEDICAL PRACTICE', 2.1535448371203456, 1422),
 ('HASTINGS AND ROTHER OOH', 2.076490970979684, 291),
 ('FISHPONDS FAMILY PRACTICE', 2.074359213645394, 1632),
 ('DRS CLOAK  CHOI AND MILLIGAN', 2.051115672707275, 1661),
 ("ST MARY'S SURGERY", 2.041026500560552, 981),
 ('THE THORNTON PRACTICE', 1.9970130182939605, 1970),
 ('IC24 LTD (EAST SURREY OOH)', 1.953059980026707, 194),
 ('CORNISHWAY GROUP PRACTICE', 1.9529030654344053, 1506),
 ('PREMIER HEALTH TEAM', 1.934267792042765, 876),
 ('CONCORD MEDICAL PRACTICE', 1.933960574438095, 1386),
 ('COULBY MEDICAL PRACTICE', 1.9268085445746166, 1585),
 ('PARKSIDE MEDICAL CENTRE', 1.923551827816919, 1314),
 ('THE DISCOVERY PRACTICE', 1.904766101580578, 1268),
 ('ANCORA MEDICAL PRACTICE', 1.8854159223172975, 2347),
 ('DARWEN HEALTHLINK', 1.8822754121330407, 2019),
 ('JALAL PRACTICE', 1.8661104279558094, 885),
 ('ROOLEY LANE MED. CENTRE', 1.8635817801376697, 1522),
 ('GREAT HOMER STREET MEDICAL CENTRE', 1.8130021198278672, 1062),
 ('NORTHPOINT', 1.8024326949442178, 1137),
 ('THE CRESCENT SURGERY', 1.7989165864017493, 1734),
 ('BROOKVALE PRACTICE', 1.7979440966461757, 1484),
 ('LEIGH NHS WIC', 1.7760099128536129, 162),
 ('DR SP SINGH AND PARTNERS', 1.77204164356538, 1840),
 ('BELGRAVE SURGERY', 1.7643723369200544, 1291),
 ('THE PARKS MEDICAL PRACTICE', 1.7589687048047729, 1466),
 ('THE ROSS PRACTICE', 1.72315573950829, 1648),
 ('THOMAS WALKER', 1.696923785553152, 1377),
 ('OAKFIELD MEDICAL PRACTICE', 1.694831695121576, 1055),
 ("DR DP CHARLES' PRACTICE", 1.6913155208910644, 1353),
 ('NORTHGATE VILLAGE SURGERY', 1.6861842319535123, 1304),
 ('DR THM MACKENZIE & PARTNERS', 1.6829116043077463, 1782)]

In [66]:
grader.score.dw__script_anomalies(anomalies)

NameError: name 'grader' is not defined

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [67]:
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz')

In [68]:
# calculate the growth rate
growth = (scripts.bnf_name.value_counts() - scripts16.bnf_name.value_counts())/scripts16.bnf_name.value_counts()
# Combine the two series in a Dataframe
resp = pd.DataFrame(dict(growth = growth, item16 = scripts16.bnf_name.value_counts())).reset_index()
#Get rid of Nans
resp.fillna(0, inplace=True)
#Remove elements with less then 50 prescriptions
resp = resp[resp['item16'] >= 50]
#Sort by growth rate
resp.sort_values(by='growth', ascending = False, inplace=True)
#Pick the top 50 and last 50 and get the tuple list
script_growth = list(pd.concat([resp.head(50), resp.tail(50)]).itertuples(index=False, name=None))

In [69]:
grader.score.dw__script_growth(script_growth)

NameError: name 'grader' is not defined

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [73]:
# Calculating rare prescription i.e ratio of count of bnf_code per prescription and total count

rates = scripts.groupby('bnf_code')['bnf_code'].count().rename('count_prescription').reset_index()
rates.head()

    bnf_code  count_prescription
0  0101010C0                  34
1  0101010F0                   2
2  0101010G0                 375
3  0101010I0                  34
4  0101010J0                  41

In [75]:
# Calculating probability for each bnf_code
p = 1 / float(scripts['bnf_code'].nunique())

In [76]:
total_count = scripts['bnf_code'].count().astype(float)
total_count

973193.0

In [77]:
rare = rates['count_prescription'] / total_count
rare.head()

0    0.000035
1    0.000002
2    0.000385
3    0.000035
4    0.000042
Name: count_prescription, dtype: float64

In [78]:
#Filtering the records on the basis of  rate < 0.1p

rare_codes =  rates[rare < 0.1*p]['bnf_code'].tolist()
rare_codes[:5]

['0101010C0', '0101010F0', '0101010I0', '0101010J0', '0101010N0']

In [80]:
#Creating 'rare' column in scripts

scripts['rare'] = scripts['bnf_code'].isin(rare_codes)

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [81]:
rare_cost_prop = (scripts[scripts['rare']].groupby('code')['act_cost'].sum()/scripts.groupby('code')['act_cost'].sum()).fillna(0)

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [82]:
relative_rare_cost_prop = (rare_cost_prop
                           - scripts[scripts['rare']]['act_cost'].sum()
                           /scripts['act_cost'].sum())

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [83]:
standard_error = relative_rare_cost_prop.std()

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [84]:
rare_scores = relative_rare_cost_prop/standard_error

In [85]:
unique_practices = (practices
                   .sort_values('name')
                   .groupby('code')
                   .first()
                   .reset_index())[['code', 'name']].rename(columns={'code':'practice'})

unique_practices.set_index('practice', inplace=True)

rare_scores = pd.concat([unique_practices, rare_scores], axis =1).sort_values(by='act_cost', ascending=False).head(100)

rare_scripts = list(rare_scores.itertuples(name=None))

/Users/michaelnana/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [86]:
grader.score.dw__rare_scripts(rare_scripts)

NameError: name 'grader' is not defined

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*